{% if environment.include_hive %}
HIVE_HOST=hive
HIVE_PORT=10000
{% endif %}
{% if environment.include_aws -%}
AWS_ACCESS_KEY_ID={{environment.aws_access_key_id}}
AWS_SECRET_ACCESS_KEY={{environment.aws_secret_access_key}}
AWS_REGION={{ environment.aws_region }}
AWS_OUTPUT={{ environment.aws_output }}
{% endif %}
EXECUTOR={{ environment.platform_executor }}
FERNET_KEY={{ environment.fernet_key }}
RBAC={{ environment.include_authorized_users}}
POSTGRES_HOST=postgres
POSTGRES_USER={{ environment.postgres_user }}
POSTGRES_PASSWORD={{ environment.postgres_password }}
POSTGRES_DB={{ environment.postgres_db}}
LOAD_EX={{ environment.include_examples }}
WEB_SERVER_PORT={{ environment.airflow_webserver_port }}

