---
version: "3"

volumes:
  postgres_data:
  airflow_logs: 

services:
  redis:
    image: 'redis:3.2.7'
  
  postgres:
    image: postgres:10.1-alpine
    restart: unless-stopped
    ports:
      - "{{ environment.postgres_exposed_port }}:{{ environment.postgres_port}}"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER={{ environment.postgres_user }}
      - POSTGRES_PASSWORD={{ environment.postgres_password }}
      - POSTGRES_DB=airflow

  {% if environment.include_hive %}
  hive:
    image: cloudera/quickstart:latest
    container_name: hive-docker
    restart: always
    depends_on:
        - postgres
    ports:
      - 8888:8888
      - 10000:10000
      - 7180:7180
      - 8020:8020
    hostname: quickstart.cloudera
    privileged: true
    tty: true
    command: /usr/bin/docker-quickstart
  {% endif %}

  scheduler:
    image: {{ environment.docker_image_full_name }}
    command: ["airflow", "scheduler"]
    restart: unless-stopped
    user: "{{ environment.platform_user }}"
    depends_on:
      - postgres
    environment:
      - AIRFLOW__CORE__SQL_ALCHEMY_CONN={{ environment.airflow_alchemy_conn_url }}
      - AIRFLOW__CORE__EXECUTOR={{ environment.platform_executor }}
      - FERNET_KEY={{ environment.fernet_key }}
      - POSTGRES_USER={{ environment.postgres_user }}
      - POSTGRES_PASSWORD={{ environment.postgres_port }}
      - POSTGRES_DB=airflow
      -  AIRFLOW__CORE__LOAD_EXAMPLES={{ environment.include_examples }}

    volumes:
      - ./airflow/dags:{{ environment.airflow_dags_folder }}:ro
      - ./airflow/plugins:{{ environment.airflow_plugins_folder }}/plugins:ro
      - airflow_logs:{{ environment.airflow_logs_folder }}

  webserver:
    image: {{ environment.docker_image_full_name }}
    command: webserver
    restart: unless-stopped
    user: "{{ environment.platform_user }}"
    depends_on:
      - postgres
    environment:
      - AIRFLOW__CORE__SQL_ALCHEMY_CONN={{ environment.airflow_alchemy_conn_url }}
      - AIRFLOW__CORE__EXECUTOR={{ environment.platform_executor }}
      - FERNET_KEY={{ environment.fernet_key }}
      - POSTGRES_USER={{ environment.postgres_user }}
      - POSTGRES_PASSWORD={{ environment.postgres_port }}
      - POSTGRES_DB=airflow
      -  AIRFLOW__CORE__LOAD_EXAMPLES={{ environment.include_examples }}
    ports:
      - "{{ environment.airflow_webserver_port }}:{{ environment.airflow_webserver_port}}"
    volumes:
      - ./airflow/dags:{{ environment.airflow_dags_folder }}:ro
      - ./airflow/plugins:{{ environment.airflow_plugins_folder }}/plugins:ro
      - airflow_logs:{{ environment.airflow_logs_folder }}

  flower:
    image: {{ environment.docker_image_full_name }}
    restart: always
    depends_on:
      - redis
    environment:
      - AIRFLOW__CORE__SQL_ALCHEMY_CONN={{ environment.airflow_alchemy_conn_url }}
      - AIRFLOW__CORE__EXECUTOR={{ environment.platform_executor }}
      - POSTGRES_USER={{ environment.postgres_user }}
      - POSTGRES_PASSWORD={{ environment.postgres_port }}
      - POSTGRES_DB=airflow
      - FERNET_KEY={{ environment.fernet_key }}
      -  AIRFLOW__CORE__LOAD_EXAMPLES={{ environment.include_examples }}

    ports:
      - "5555:5555"
    command: flower